.acc {
  width: 600px;
  padding: 20px;
  margin: 250px auto;
  background-color: rgba(88, 50, 140, 1);
  box-shadow: 0 0px 10px 0 rgba(88, 50, 140, 1);
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }

  &__line {
    width: 100%;
    height: 0px;
    border: 1px solid rgba(176, 150, 220, 1);
  }

  &__buttons {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__button {
    width: 100px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #ffffff;
    font-weight: 900;
    outline: none;
  }

  &__save {
    background-color: green;
  }

  &__title {
    text-align: center;
  }
}
