.an {
  width: 100%;
  height: 90vh;
  padding: 0px 10px 20px 10px;
  overflow: auto;
  display: none;

  &__table {
    width: 100%;
    margin: auto;
  }

  &__table-head {
    position: fixed;
    padding: 0px 0px 0px 10px;
    margin-left: -12px;
    margin-top: -2px;
    height: 40px;
    background-color: rgba(255, 0, 0, 1);
    // border: 5px solid #202020;
  }

  &__table-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 50px;
  }

  &__table-row {
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
    border-bottom: 3px solid red;
    border-top: 3px solid white;
  }

  &__table-headRow {
    border: hidden;
  }

  &__table-height {
    width: 150px;
    color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__image {
    width: 100px;
    height: 100px;
    // border: 3px solid red;
  }

  &__table-description {
    width: 147px;
    height: 100px;
    color: #ffffff;
    text-align: start;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    // border: 1px solid red;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.pro {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  &__part1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 170px;
  }

  &__center {
    width: 500px;
    height: 600px;
    background: #f5f5f5;
    border: 3px solid red;
    border-radius: 5px;
  }

  &__big-image {
    width: 100%;
  }

  &__right {
    width: 452px;
    margin-top: -10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: rgba(255, 0, 0, 1);
  }

  &__stars {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.5;
  }

  &__price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.5;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  &__line {
    width: 90%;
    height: 0px;
    border: 1px solid rgba(255, 0, 0, 1);
    margin: auto;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  &__card {
    width: 170px;
    height: 138px;
    border: 3px solid red;
    border-radius: 5px;
  }

  &__small-image {
    width: 100%;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #ffffff;
  }

  &__colours {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  &__colour {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
  }

  &__boxes {
    padding: 20px;
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    color: #ffffff;
  }

  &__part2 {
    width: 80%;
    margin: auto;
  }

  &__table {
    width: 972px;
    border-collapse: collapse;
  }

  &__table-row:nth-child(even) {
    background: #d9d9d9;
    color: red;
  }

  &__table-row {
    width: 100%;
  }

  &__table-description {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: 3px solid red;
    color: rgba(255, 0, 0, 1);
    font-weight: 900;
  }
}
