.an {
  width: 100%;

  &__table {
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
  }

  &__table-head {
    position: sticky;
    top: 10vh;
    width: 100%;
    height: 50px;
    background-color: red;
    // border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  &__table-body {
    width: 100%;
    // height: 200vh;
    padding: 20px 0px;
    // background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: #ffffff;
  }

  &__table-row {
    width: 95%;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 3px solid red;
    border-top: 3px solid white;
    border-radius: 10px;
  }

  &__table-headRow {
    border: none;
  }

  &__table-height {
    width: 200px;
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: center;
  }

  &__table-description {
    width: 200px;
    height: 100px;
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 3px solid red;
    background-color: #ffffff;
    border-radius: 5px;
  }

  &__table-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  &__table-button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }

  &__table-id {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__table-delete {
    background-color: red;
    color: white;
  }

  &__table-edit {
    background-color: #ffffff;
    color: red;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

.pro {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  gap: 100px;
  &__part1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 170px;
  }

  &__center {
    width: 500px;
    height: 600px;
    background: #f5f5f5;
    border: 3px solid red;
    border-radius: 5px;
  }

  &__big-image {
    width: 100%;
  }

  &__right {
    width: 452px;
    margin-top: -10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: rgba(255, 0, 0, 1);
  }

  &__stars {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.5;
  }

  &__price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    opacity: 0.5;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
  }

  &__line {
    width: 90%;
    height: 0px;
    border: 1px solid rgba(255, 0, 0, 1);
    margin: auto;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  &__card {
    width: 170px;
    height: 138px;
    border: 3px solid red;
    border-radius: 5px;
  }

  &__small-image {
    width: 100%;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #ffffff;
  }

  &__colours {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  &__colour {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
  }

  &__boxes {
    padding: 20px;
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    color: #ffffff;
  }

  &__part2 {
    width: 80%;
    margin: auto;
  }

  &__table {
    width: 972px;
    border-collapse: collapse;
  }

  &__table-row:nth-child(even) {
    background: #d9d9d9;
    color: red;
  }

  &__table-description {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: 3px solid red;
    color: rgba(255, 0, 0, 1);
    font-weight: 900;
  }
}

.add {
  width: 300px;
  height: 270px;
  padding: 20px;
  border-radius: 10px;
  background-color: #202020;
  border: 2px dashed #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border: 5px dashed #585858;
  }

  &__button-wrapper {
    width: 95%;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: end;
    align-items: center;

  }

  &-form {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &-input {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-weight: 900;
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
    background-color: #ffffff;
    color: red;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 900;
    // border: none;
  }

  &-submit {
    color: #ffffff;
    background-color: green;
    font-weight: 900;
  }

  &-cancel {
    background-color: red;
  }

  &-closer {
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #ffffff;
  }
}

::placeholder {
  color: #202020;
}

.none {
  display: none;
}

.edit {
  width: 300px;
  padding: 20px;
  border: 3px dashed #585858;
  background-color: #202020;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border: 5px dashed #585858;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 95%;
    margin: auto;
    // border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #ffffff;
  }

  &__submit {
    background-color: green;
  }

  &__cancel {
    background-color: red;
  }

  &__none {
    display: none;
  }
}
