body {
  display: flex;
  justify-content: center;
  align-items: start;
}

.head {
  width: 10%;
  height: 100vh;
  padding: 10px;
  background-color: #202020;
  //   border: 1px solid red;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 150px;

  &__profile {
    border-bottom: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // border: 1px solid red;
  }

  &__name {
    color: #ffffff;
  }

  &__cards {
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    // border: 1px solid red;
  }

  &__card {
    width: 150px;
    height: 40px;
    padding: 0px 50px;
    height: 50px;
    box-shadow: 3px 3px 3px white;
    background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      rgba(255, 0, 0, 1) 100%
    );
    border-left: 5px solid rgba(255, 0, 0, 1);
    border-right: 1px solid #202020;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 0, 0, 1) 100%
    );
    color: #ffffff;
    border-block-start-color: red;
    writing-mode: horizontal-tb;
  }

  &__icon {
    color: #ffffff;
  }
}

.main {
  width: 90%;
  height: 100vh;
  border-left: 3px solid red;
  background-color: #202020;

  &__title {
    color: #ffffff;
  }
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #202020;
  border-bottom: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
