.sign {
  width: 500px;
  padding: 20px;
  margin: 300px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(88, 50, 140, 1);
  border-radius: 10px;
  box-shadow: 0 0px 10px 0 rgba(88, 50, 140, 1);

  &__card {
    width: 95%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3px;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: auto;
    outline: none;
    color: #333333;
    border-radius: 5px;
  }

  &__button {
    width: 100px;
    height: 40px;
    margin: auto;
    outline: none;
    background-color: green;
    color: #ffffff;
    font-weight: 900;
    border-radius: 5px;
    border: none;
  }

  &__button:active {
    transform: scale(1.02);
  }

  &__text {
    color: rgba(245, 240, 255, 1);
  }

  a {
    margin: auto;
  }
}
