.user {

    &__cards {
        // width: 900px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // border: 2px solid blue;
    }

    &__cards-title {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid red;
    }


    &__card {
        width: 100%;
        padding: 10px;
        // border: 2px solid blue;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    &__boxes {
        // width: 800px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px; 
    }

    &__box {
        width: 250px;
        // border: 1px solid purple;
    }

    &__name {
        text-transform: capitalize;
    }
}