.user {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 50px;

  &__up {
    width: 1320px;
    height: 100px;
    // border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__up-left {
    padding: 10px;
  }

  &__up-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__down-left {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    color: #fff;
  }

  &__download {
    color: #fff;
  }

  &__wrapper {
    width: 100%;
    height: 90vh;
    // border: 2px solid blue;
  }

  &__search {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    border: 2px solid red;
    color: #fff;
    background-color: #202020;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>")
      no-repeat center;
    cursor: pointer;
    color: #fff;
  } // <= bu kod inputni ichidagi "X" ni rangini o'zgartirish uchun yozdim

  &__add-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #202020;
    border: 2px solid red;
    color: red;
  }

  &__cards {
    // width: 900px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2px solid blue;
  }

  &__cards-title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 2px solid red;
    // border-bottom: 2px solid #585858;
  }

  &__card {
    width: 100%;
    padding: 10px;
    // border: 2px solid blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid #585858;
  }

  &__card-title {
    border: none;
  }

  &__boxes {
    // width: 800px;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  &__box {
    width: 250px;
    // border: 1px solid purple;
  }

  &__name {
    text-transform: capitalize;
  }
}
